In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
companies = pd.read_csv("/Users/talhajamal/Desktop/Code/Python_Projects/Mathematical_Modelling/src/Marshall Wace/data (20231011)/companies.csv")

In [3]:
companies.head()

,ticker,company,country,industry
0,1,Prologue,France,Software
1,2,Ekinops SAS,France,Technology Hardware Equipment
2,3,Neuf Cegetel SA,France,Telecommunication
3,4,Societe pour l'Informatique Industrielle,France,Software
4,5,ALTI,France,Software

## Q1: What %age of companies are involved in Life Sciences?

In [4]:
companies.describe()

           ticker
count  500.000000
mean   250.500000
std    144.481833
min      1.000000
25%    125.750000
50%    250.500000
75%    375.250000
max    500.000000

In [5]:
life_sciences_companies = companies[companies['industry'] == 'Life Sciences']

In [12]:
len(life_sciences_companies)
print(f"Percentage of companies involved in Life Sciences Industry : {round((len(life_sciences_companies) / 500) * 100, 2)}")

Percentage of companies involved in Life Sciences Industry : 11.4

## Q2: How would you describe the distribution of Market Caps?
## multi choice: leptokurtic/uniform/log normal/positive or negative skew

In [16]:
market_cap = pd.read_csv("/Users/talhajamal/Desktop/Code/Python_Projects/Mathematical_Modelling/src/Marshall Wace/data (20231011)/cap.csv")

In [18]:
market_cap.head()

,Dates,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,2020-01-01,1.769477e+07,1.756440e+08,8.605285e+09,6.240192e+08,9.295349e+07,6.376725e+07,1.509716e+08,7.029106e+07,1.046523e+09,...,3.407262e+08,4.066219e+07,1.014566e+09,2.559483e+09,3.217560e+09,3.992439e+10,4.222795e+10,3.804590e+09,4.607054e+08,6.057107e+09
1,2020-01-02,1.802682e+07,1.636031e+08,8.784352e+09,6.363901e+08,8.865229e+07,6.282470e+07,1.515202e+08,6.904994e+07,1.026802e+09,...,3.430948e+08,4.096476e+07,1.015657e+09,2.559116e+09,3.172254e+09,4.041044e+10,4.242771e+10,3.799394e+09,4.559963e+08,6.015714e+09
2,2020-01-03,1.845211e+07,1.648883e+08,8.755067e+09,5.984640e+08,8.882021e+07,6.149500e+07,1.517055e+08,6.800646e+07,1.040314e+09,...,3.410874e+08,4.057799e+07,1.009019e+09,2.584947e+09,3.142615e+09,3.961840e+10,4.147472e+10,3.851076e+09,4.442952e+08,5.897544e+09
3,2020-01-06,1.832624e+07,1.635899e+08,8.378197e+09,6.002769e+08,8.932168e+07,6.217946e+07,1.502546e+08,6.849484e+07,1.026898e+09,...,3.346374e+08,3.990483e+07,1.017195e+09,2.543380e+09,3.128046e+09,4.048003e+10,4.147827e+10,3.818204e+09,4.477840e+08,5.999464e+09
4,2020-01-07,1.832745e+07,1.629636e+08,8.670112e+09,5.902407e+08,8.928384e+07,6.310960e+07,1.493567e+08,6.857253e+07,1.029184e+09,...,3.305260e+08,4.055694e+07,1.000582e+09,2.585363e+09,3.150836e+09,4.099914e+10,4.255871e+10,3.466159e+09,4.569877e+08,5.956736e+09

In [17]:
market_cap.tail()

,Dates,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
518,2021-12-27,1.324353e+07,3.547144e+08,1.506420e+10,7.825531e+08,1.049190e+08,5.200610e+07,1.899871e+08,3.902282e+07,6.336305e+08,...,2.488120e+08,7.958993e+07,1.479414e+09,9.762362e+08,3.046661e+09,2.616896e+10,3.753571e+10,2.306088e+09,2.444805e+08,1.067869e+10
519,2021-12-28,1.334993e+07,3.607217e+08,1.497270e+10,7.803757e+08,1.066530e+08,5.228665e+07,1.925315e+08,3.939920e+07,6.456131e+08,...,2.398894e+08,7.996256e+07,1.511557e+09,9.640496e+08,3.029961e+09,2.547564e+10,3.670777e+10,2.299834e+09,2.436930e+08,1.101451e+10
520,2021-12-29,1.332127e+07,3.610060e+08,1.505007e+10,7.803604e+08,1.081830e+08,6.141133e+07,2.018909e+08,3.884587e+07,6.463873e+08,...,2.427423e+08,8.115262e+07,1.511799e+09,9.667531e+08,3.019906e+09,2.556863e+10,3.756218e+10,2.317906e+09,2.454344e+08,1.091471e+10
521,2021-12-30,1.342294e+07,3.615340e+08,1.518810e+10,7.832827e+08,1.076901e+08,6.119814e+07,1.998994e+08,3.841295e+07,6.571827e+08,...,2.405180e+08,7.900270e+07,1.498068e+09,9.603614e+08,3.055377e+09,2.582705e+10,3.727394e+10,2.344136e+09,2.458987e+08,1.076866e+10
522,2021-12-31,1.314514e+07,3.630138e+08,1.523300e+10,7.721869e+08,1.095411e+08,6.120849e+07,2.065455e+08,3.900596e+07,6.608783e+08,...,2.412674e+08,7.980600e+07,1.513537e+09,9.524207e+08,3.015678e+09,2.521594e+10,3.704618e+10,2.378382e+09,2.459079e+08,1.106742e+10

In [15]:
market_cap.describe()

,1,2,3,4,5,6,7,8,9,10,...,491,492,493,494,495,496,497,498,499,500
count,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,...,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02,5.230000e+02
mean,1.330090e+07,2.995783e+08,1.041220e+10,5.932943e+08,1.031812e+08,4.604066e+07,1.638863e+08,5.870017e+07,9.373454e+08,5.313058e+09,...,2.995141e+08,5.252845e+07,1.125503e+09,1.351975e+09,3.438918e+09,2.880097e+10,3.949535e+10,2.986707e+09,3.396936e+08,7.886837e+09
std,2.639117e+06,8.279217e+07,2.163699e+09,1.079775e+08,1.170992e+07,6.089827e+06,2.025638e+07,9.602732e+06,1.767662e+08,6.714708e+08,...,2.893512e+07,1.169471e+07,1.331908e+08,4.388137e+08,3.588209e+08,5.926576e+09,3.065947e+09,5.589997e+08,6.612843e+07,1.531352e+09
min,9.979021e+06,1.608328e+08,6.800356e+09,4.234486e+08,7.878514e+07,3.689526e+07,1.180810e+08,3.841295e+07,5.793679e+08,3.783898e+09,...,2.364505e+08,3.342217e+07,8.876233e+08,9.003392e+08,2.591024e+09,1.929210e+10,3.358255e+10,1.917288e+09,2.094366e+08,5.618860e+09
25%,1.121663e+07,2.049462e+08,8.414572e+09,5.031830e+08,9.486162e+07,4.135678e+07,1.497181e+08,5.130566e+07,8.336920e+08,4.964763e+09,...,2.822608e+08,4.351634e+07,1.029592e+09,1.126620e+09,3.129425e+09,2.474274e+10,3.736990e+10,2.560404e+09,2.929290e+08,6.329649e+09
50%,1.252413e+07,3.375165e+08,1.018678e+10,5.625487e+08,1.008770e+08,4.444586e+07,1.672559e+08,6.087565e+07,9.394465e+08,5.329651e+09,...,3.018242e+08,4.781749e+07,1.099018e+09,1.214474e+09,3.418270e+09,2.643067e+10,3.889865e+10,3.149599e+09,3.444996e+08,7.982418e+09
75%,1.402665e+07,3.667588e+08,1.239591e+10,7.066303e+08,1.076922e+08,4.944091e+07,1.784934e+08,6.639765e+07,1.077415e+09,5.831197e+09,...,3.194787e+08,5.980223e+07,1.192290e+09,1.325366e+09,3.754274e+09,3.263689e+10,4.131109e+10,3.380681e+09,3.744260e+08,9.293901e+09
max,2.000803e+07,4.258949e+08,1.523300e+10,8.167460e+08,1.357709e+08,6.670460e+07,2.083169e+08,7.715440e+07,1.315477e+09,6.725999e+09,...,3.732590e+08,8.115262e+07,1.513537e+09,2.585363e+09,4.294326e+09,4.369416e+10,4.795143e+10,4.168056e+09,4.991077e+08,1.106742e+10

In [19]:
from scipy.stats import skew, kurtosis, shapiro

In [20]:
# From Excel:
# Average Skewness: 0.342587948 -> Positive Skew
# Average Kurtosis: -0.404153302 -> Less than 3 means Platykurtic
# Since Market Caps are positive, generally these distributions are LogNormally distributed
# LogNormal distributions are also generally positively skewed and leptokurtic

## Q3:  On which one of these days was there the highest standard deviation: 2020-03-23, 2020-03-30, 2020-11-18, 2020-11-25, 2021-01-04

In [21]:
returns = pd.read_csv("/Users/talhajamal/Desktop/Code/Python_Projects/Mathematical_Modelling/src/Marshall Wace/data (20231011)/ret.csv")

In [22]:
returns.head()

,Dates,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,2020-01-01,-0.010555,-0.018010,0.009118,-0.031509,0.015557,0.003820,0.042103,-0.010133,0.009885,...,-0.006961,0.013277,0.052542,0.038717,-0.010416,0.011411,0.024825,-0.003267,-0.004797,-0.017877
1,2020-01-02,0.018765,-0.068553,0.020809,0.019825,-0.046273,-0.014781,0.003634,-0.017657,-0.018844,...,0.006952,0.007441,0.001075,-0.000144,-0.014081,0.012174,0.004731,-0.001366,-0.010222,-0.006834
2,2020-01-03,0.023592,0.007856,-0.003334,-0.059596,0.001894,-0.021165,0.001223,-0.015112,0.013159,...,-0.005851,-0.009442,-0.006535,0.010094,-0.009343,-0.019600,-0.022462,0.013603,-0.025660,-0.019644
3,2020-01-06,-0.006822,-0.007874,-0.043046,0.003029,0.005646,0.011130,-0.009564,0.007181,-0.012896,...,-0.018910,-0.016589,0.008103,-0.016080,-0.004636,0.021748,0.000086,-0.008536,0.007852,0.017282
4,2020-01-07,0.000066,-0.003828,0.034842,-0.016719,-0.000424,0.014959,-0.005975,0.001134,0.002226,...,-0.012286,0.016342,-0.016332,0.016506,0.007286,0.012824,0.026048,-0.092202,0.020554,-0.007122

In [23]:
returns.tail()

,Dates,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
518,2021-12-27,0.003109,-0.011529,0.010036,-0.028102,0.010155,-0.007225,-0.010816,-0.037116,0.019227,...,-0.015057,-0.009280,0.002391,0.005475,-0.001568,-0.009902,0.010683,0.004102,0.010508,0.025495
519,2021-12-28,0.008035,0.016936,-0.006074,-0.002782,0.016526,0.005395,0.013393,0.009645,0.018911,...,-0.035861,0.004682,0.021727,-0.012483,-0.005481,-0.026494,-0.022057,-0.002712,-0.003221,0.031449
520,2021-12-29,-0.002147,0.000788,0.005168,-0.000020,0.014346,0.174513,0.048612,-0.014044,0.001199,...,0.011892,0.014883,0.000160,0.002804,-0.003319,0.003650,0.023276,0.007858,0.007146,-0.009061
521,2021-12-30,0.007632,0.001462,0.009171,0.003745,-0.004556,-0.003472,-0.009864,-0.011145,0.016701,...,-0.009163,-0.026492,-0.009083,-0.006611,0.011746,0.010107,-0.007674,0.011316,0.001892,-0.013381
522,2021-12-31,-0.020696,0.004093,0.002956,-0.014166,0.017188,0.000169,0.033247,0.015438,0.005623,...,0.003116,0.010168,0.010326,-0.008268,-0.012993,-0.023662,-0.006110,0.014609,0.000037,0.027743

In [25]:
returns.describe()

,1,2,3,4,5,6,7,8,9,10,...,491,492,493,494,495,496,497,498,499,500
count,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,...,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000,523.000000
mean,-0.000364,0.001560,0.001306,0.000607,0.000631,0.000190,0.000869,-0.000938,-0.000653,0.000311,...,-0.000457,0.001564,0.001047,-0.001577,0.000073,-0.000648,-0.000030,-0.000664,-0.001012,0.001337
std,0.021038,0.020396,0.019926,0.022922,0.024053,0.022834,0.019484,0.020399,0.020359,0.020097,...,0.020742,0.022240,0.019326,0.021754,0.020722,0.020361,0.018656,0.021828,0.019791,0.020872
min,-0.164478,-0.068553,-0.067160,-0.180142,-0.183143,-0.167871,-0.124366,-0.109512,-0.086783,-0.143181,...,-0.132112,-0.115655,-0.075925,-0.163037,-0.149620,-0.094602,-0.113283,-0.099188,-0.107835,-0.098935
25%,-0.009625,-0.009278,-0.009841,-0.009748,-0.010842,-0.010005,-0.009499,-0.011403,-0.011624,-0.011158,...,-0.010948,-0.009038,-0.009042,-0.011969,-0.010345,-0.011462,-0.010716,-0.010377,-0.010601,-0.008892
50%,-0.000082,0.001462,0.000830,0.000421,0.000986,-0.000223,0.000840,-0.000713,-0.000969,0.001819,...,-0.000366,0.002503,-0.001250,-0.001259,0.000299,0.001012,-0.000129,0.000517,-0.000327,0.001989
75%,0.009002,0.011736,0.011193,0.011034,0.011132,0.009894,0.011480,0.009885,0.009516,0.011100,...,0.008125,0.012490,0.010282,0.010013,0.010720,0.010077,0.010235,0.010457,0.009857,0.012988
max,0.106867,0.128787,0.136027,0.208867,0.216330,0.174513,0.082216,0.137481,0.093766,0.093086,...,0.119125,0.120581,0.119215,0.163216,0.086538,0.080023,0.091295,0.119889,0.103835,0.094517

## Q4. Find the ticker of the french company with the lowest standard deviation of returns.

In [32]:
french_companies = companies[companies['country'] == 'France']
french_companies['ticker']

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: ticker, Length: 100, dtype: int64

In [51]:
returns.columns = returns.columns.str.replace(' ', '')

In [52]:
returns.columns

Index(['Dates', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '491', '492', '493', '494', '495', '496', '497', '498', '499', '500'],
      dtype='object', length=501)

In [53]:
returns['1']

0     -0.010555
1      0.018765
2      0.023592
3     -0.006822
4      0.000066
         ...
518    0.003109
519    0.008035
520   -0.002147
521    0.007632
522   -0.020696
Name: 1, Length: 523, dtype: float64

In [57]:
minimum_std = float('infinity')
for tic in french_companies['ticker']:
    std_dev = returns[str(tic)].std()
    if std_dev <= minimum_std:
        minimum_std = std_dev
        min_tic = tic

min_tic

15

## Q5: Which company has a data quality issue? Find it, and remove it from the dataset. (I had one with a constant return, ticker = '201', look through these using standard deviations)

In [58]:
returns.head()

,Dates,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,2020-01-01,-0.010555,-0.018010,0.009118,-0.031509,0.015557,0.003820,0.042103,-0.010133,0.009885,...,-0.006961,0.013277,0.052542,0.038717,-0.010416,0.011411,0.024825,-0.003267,-0.004797,-0.017877
1,2020-01-02,0.018765,-0.068553,0.020809,0.019825,-0.046273,-0.014781,0.003634,-0.017657,-0.018844,...,0.006952,0.007441,0.001075,-0.000144,-0.014081,0.012174,0.004731,-0.001366,-0.010222,-0.006834
2,2020-01-03,0.023592,0.007856,-0.003334,-0.059596,0.001894,-0.021165,0.001223,-0.015112,0.013159,...,-0.005851,-0.009442,-0.006535,0.010094,-0.009343,-0.019600,-0.022462,0.013603,-0.025660,-0.019644
3,2020-01-06,-0.006822,-0.007874,-0.043046,0.003029,0.005646,0.011130,-0.009564,0.007181,-0.012896,...,-0.018910,-0.016589,0.008103,-0.016080,-0.004636,0.021748,0.000086,-0.008536,0.007852,0.017282
4,2020-01-07,0.000066,-0.003828,0.034842,-0.016719,-0.000424,0.014959,-0.005975,0.001134,0.002226,...,-0.012286,0.016342,-0.016332,0.016506,0.007286,0.012824,0.026048,-0.092202,0.020554,-0.007122

## Q6. How many companies had a positive return after the first vaccine was announced?

## Q7. What was the average cumulative return for each company for the first 3 days after the first vaccine was announced

## Q8. Find the average cumulative return of the stocks for each country for the first 3 days after the first stay at home order was announced

## Q9-13. Find the annualised average return of values for each country [France, Germany, Italy, the suisse, UK] while the stay at home orders were active

## Q14-end. There's two questions which they ask you to run and analyse a multiple linear regression